<% layout("/layouts/boilerplate") %>
<body>
    <div class="mt-3">
  <div class="alert alert-danger col-6 offset-3" role="alert" mt-3>
    <p class="alert-heading"><%= message %></p>
  </div>
</div>
</body>
